<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StoryBoardID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>763B17C61D35491C00A0DC30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763B17DD1D35491C00A0DC30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763B17E81D35491C00A0DC30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
